html {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(233, 139, 85);
  font-family: Tahoma, san-serif;
}
.little{
  width: 300px;
}
#big{
  width: 800px;
}
.part1{
  color: blanchedalmond;
  font-family: fantasy;
}
.part2{
  color:azure;
  font-family:Impact;
}
.part3{
  color:aquamarine;
  font-family:Verdana;
}